extends layout

block content
  h1 Upgrade to Artist Account
  p Are you sure you want to upgrade to an artist account?
  
  form(method="post" action="/upgrade-account")
    button(type="submit") Confirm Upgrade